.navbar {
  background-color: #1a171b;
  width: 100%;
}
.topnav {
  height: 60px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-futbol,
.fa-search {
  color: #fff;
}

.topnav__search {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topnav__center {
  margin: 0 10px;
}

.topnav__search-filter,
.topnav__search-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.fa-solid {
  height: 20px;
  width: 30px;
  color: #fff;
}

img {
  height: 20px;
  width: 20px;
  color: #fff;
}
